<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Pokémon Bank - Acciones</title>
  <link rel="stylesheet" href="../css/styles.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>
<body>

  
  <header>
    <div>
     <img src="../images/pkb.png">
    </div>
    </header>

    <div class="main">
  <div class="container mt-5">
    <h2>Bienvenido, Hash Cache</h2>
    <p>Cuenta Nº: 1234567890</p>
    <div class="row">
      <div class="col-md-6">
        <a href="depositar.html" class="btn btn-success btn-block mb-3">Depósito</a>
      </div>
      <div class="col-md-6">
        <a href="retirar.html" class="btn btn-danger btn-block mb-3">Retiro</a>
      </div>
      <div class="col-md-6">
        <a href="consultar-saldo.html" class="btn btn-info btn-block mb-3">Consultar Saldo</a>
      </div>
      <div class="col-md-6">
        <a href="historial.html" class="btn btn-info btn-block mb-3">Historial</a>
      </div>
      <div class="col-md-6">
        <a href="grafico.html" class="btn btn-info btn-block mb-3">Grafico</a>
      </div>
      <div class="col-md-6">
        <a href="servicios.html" class="btn btn-warning btn-block mb-3">Pago de Servicios</a>
      </div>
    </div>
    <div class="text-center mt-4">
      <a href="index.html" class="btn btn-secondary">Cerrar Sesión</a>
    </div>
    <br>
    <br>
    <div class="text-center mt-4">
      <a href="diagrama.html" class="btn btn-secondary">Flujo Diagrama</a>
    </div>
  </div>
</div>
</body>
</html>
