<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Pokémon Bank - Consulta de Saldo</title>
  <link rel="stylesheet" href="../css/styles.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
</head>
<body>
  <header>
    <div>
     <img src="../images/pkb.png">
    </div>
    </header>

    <div class="main">
  <div class="container mt-5">
    <h2>Consulta de Saldo</h2>
    <div class="alert alert-info" id="saldo-container">
      <h4>Tu saldo actual es:</h4>
      <p id="saldo-actual">$0.00</p>
    </div>
    <div class="text-center mt-4">
      <a href="acciones.html" class="btn btn-secondary">Volver a Acciones</a>
    </div>
  </div>
</div>
  <!-- Importa el archivo de scripts -->
  <script src="../js/scripts.js"></script>
</body>
</html>
