<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Pokémon Bank - Historial de Transacciones</title>
  <link rel="stylesheet" href="../css/styles.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>
<body>
  <header>
    <div>
     <img src="../images/pkb.png">
    </div>
    </header>
    
    <div class="main">
  <div class="container mt-5">
    <h2>Historial de Transacciones</h2>
    <table class="table table-striped mt-4">
      <thead>
        <tr>
          <th>Fecha</th>
          <th>Tipo de Transacción</th>
          <th>Monto</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>01/03/2025</td>
          <td>Depósito</td>
          <td>$500</td>
        </tr>
        <tr>
          <td>02/03/2025</td>
          <td>Retiro</td>
          <td>$200</td>
        </tr>
        <tr>
          <td>03/03/2025</td>
          <td>Pago de Servicio (Internet)</td>
          <td>$100</td>
        </tr>
      </tbody>
    </table>
    <div class="text-center mt-4">
      <a href="acciones.html" class="btn btn-primary">Volver a Acciones</a>
    </div>
  </div>
</div>
</body>
</html>
