<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Pokémon Bank - Login</title>
  <link rel="stylesheet" href="../css/styles.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>
<body>
<header>
<div>
 <img src="../images/pkb.png">
</div>
</header>
  <div class="container text-center mt-5">
    <h1>Bienvenido</h1>
    <form action="acciones.html" method="POST">
        <div class="form-group">
            <label for="user">Ingrese su Usuario</label>
            <input type="text" class="form-control w-50 mx-auto" id="user" maxlength="8" pattern="[A-Za-z0-9]+" required>
          </div>
      <div class="form-group">
        <label for="pin">Ingrese su PIN (4 dígitos)</label>
        <input type="password" class="form-control w-50 mx-auto" id="pin" maxlength="4" pattern="\d{4}" required>
      </div>
      <button type="submit" class="btn btn-primary">Iniciar Sesión</button>
    </form>
  </div>
</body>
</html>
